* {
  margin: 0;
  padding: 0;
}

body {
  background: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  color: white;
}

.conteiner {
  margin: 0 auto;
  max-width: 880px;
  width: 100%;
}

.header__content {
  border-bottom: 1px solid rgba(84, 84, 84, 1);
}

.header__logo {
  width: 173px;
  margin-bottom: 40px;
  margin-top: 45px;
}

.profile {
  display: flex;
  align-items: center;
  margin: 40px 0;
}
.profile__photo {
  width: 120px;
  height: 120px;
}

.profile__info {
  flex-grow: 1;
}

.profile__info__title {
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.profile__info__edit__button {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(255, 255, 255, 1);
  margin-left: 16px;
  cursor: pointer;
}

.profile__info__bio {
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 400;
  margin-left: 30px;
}

.add__button {
  width: 150px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 1);
  background-color: black;
  border-radius: 2px;
}

.add__button__add {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  border: 1.5px solid rgba(0, 0, 0, 1);
  border-radius: 16px;
}

.card {
  background-color: white;
  width: 282px;
  height: 361px;
  border-radius: 16px;
  margin-bottom: 21px;
}
.card__image {
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.card__content {
  max-width: 282px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__title {
  max-width: 100%;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  color: rgba(0, 0, 0, 1);
  padding-left: 21px;
}
.card__icon {
  width: 21px;
  margin-right: 8px;
  cursor: pointer;
}
.footer {
  max-width: 318px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  margin-top: 67px;
  margin-bottom: 60px;
}
@media (max-width: 1000px) {
  .header__content {
    padding: 32px;
    border: none;
  }
  .header__logo {
    margin-bottom: 0;
    margin-top: 0;
  }

  .profile {
    padding: 16px;
    margin: 0 auto;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 120px;
  }
}
@media (max-width: 800px) {
  .header__content {
    border-bottom: 1px solid rgba(84, 84, 84, 1);
    margin-bottom: 42px;
  }
  .profile {
    display: flex;
    flex-direction: column;
    max-width: 282px;
    width: 100%;
  }

  .profile__info__title {
    max-width: 192px;
    width: 100%;
    font-size: 22px;
    font-weight: 500;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 14px;
    line-height: 26.63px;
  }
  .profile__info__edit__button {
    max-width: 18px;
    height: 18px;
    width: 100%;
  }
  .profile__info__bio {
    max-width: 282px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    margin-bottom: 36px;
    margin-left: 0px;
  }
  .add__button {
    max-width: 282px;
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 1);
    margin-bottom: 36px;
  }

  .gallery {
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer {
    margin-left: 19px;
    color: rgba(84, 84, 84, 1);
  }
}
